

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
}

html, body {
  max-width: 100vw;
  margin:auto;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E5E5E5;
}

header img {
  width: 10rem;
  margin-left: .5rem;
}

menu ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: .4rem;
  margin-right: .5rem;
  font-family: poppins;
  font-size: 1.6rem;
  text-transform: uppercase;
}

menu ul li {
  padding: .5rem 1rem;
  border: 1px solid #f5f5f5;
  background-color: #000;
  color: #fff;
  border-radius: .4rem;
  cursor: pointer;
}

.agendar {
  background: linear-gradient(180deg, #720606 0%, #CE2424 100%);
  border: 1px solid #E38F8F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.intro {
  height: 22rem;
  background-image: url('img/hemi_bg.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;


}

.intro div p{
  position: absolute;
  width: 27.5rem;
  color: #fff;
  margin: .5rem 0 0 3rem;
  font-family: roboto;
  font-size: 1.4rem;
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.539);
  border-radius: .4rem;

}

.container {
  margin-top: 3rem;
}

.pole {
  background-image: url('img/pole_bg.jpg');
  height: 22rem;
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

}

.pole p {
  color: #fff;
  font-size: 2rem;
  max-width: 18rem;
  line-height: 4rem;
  text-align: center;
  margin-left: 3rem;
  /* position: relative;
}

#servicesText {
  display: flex;
  align-items: center;
}

#servicesText h2 {
  position: relative;
  font-size: 2rem;
  margin: 0 1rem;
}

#servicesText h2::after {
  position: absolute;
  bottom: -.3rem;
  right: 0;
  content: "";
  width: 5rem;
  height: .2rem;
  background-color: #FF4E4E ;
  }
  

.services {
  background-color: #E5E5E5;
  width: 100%;
  height: 57rem;
}

#servicesText p {
  font-size: 1.4rem;
  margin: 2rem 1rem;
}

.servicesIcon {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.servicesIcon img {
  margin: 1rem;
  width: 4rem;
}

.servicesIcon h4 {
  position: relative;
  font-size: 2rem;
}

.servicesIcon > h4::after {
  position: absolute;
  content: "";
  background-color: rgb(239, 239, 239);
  width: 15rem;
  height: .2rem;
  bottom: -1rem;
  left: 0;
}

.iconsList {
  display: flex;
  left: 3rem;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;
}

.open {
  background-image: url("img/open_bg.jpg");
  height: 22rem;
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;  color: #fff;
  gap: 3rem;
  overflow: hidden;
}


.open h2 {
  margin: 1rem .5rem;
  font-size: 2rem;
  position: relative;
}

.atendimento {
  display: flex;
  justify-content: flex-end;
}

.open h2::after {
  position: absolute;
  bottom: -.3rem;
  left: 0;
  content: "";
  width: 5rem;
  height: .2rem;
  background-color: #FF4E4E ;
}

.openText {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 1rem;
  gap: 2rem;
  padding: .5rem;
  width: 25rem;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: .4rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.openText p {
  font-size: 1.8rem; 
  text-align: center;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
}

html, body{
  width: 100vw;
}

.container {
  max-width: 1000px;

  margin: 0 auto;

}
header {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  padding: 1.5rem;
  /* min-height: 8rem; */
}

header img {
  max-height: 6rem;
  /* margin-left: 1rem; */
}

header ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header ul li a {
  display: inline-block;
  /* margin-right: 1rem; */
  color: rgb(8, 8, 8);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 1px solid rgb(205, 205, 205);
  background-color: rgb(235, 235, 235);
  border-radius: .4rem;
  box-shadow: 0px .8px 2px rgba(0, 0, 0, 0.25);
}

header ul .agendar a {
  background: linear-gradient(81.56deg, #381919 34.8%, #451414 72.46%);  color: white;
}

.intro {
  display: flex;
  border-radius: .2rem;
  background-image: url("img/hemi_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40rem;
  /* object-fit: cover; */
}

.intro div {
  color: white;
  max-width: 50%;
  margin: 1.5rem;
}

.intro div p {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.5rem;
  text-align: right;
  background-color: #ffffff2b;
  border-radius: .2rem;

}

.pole {
  margin-top: 3rem;
  background-image:url("img/pole_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40rem;
  display: flex;
  border-radius: .2rem;
  align-items: center;
}

.pole p {
  color: white;
  font-size: 3.5rem;
  max-width:50% ;
  padding-left: 10rem;
  text-align: center;
  
}